<div class="background w-full h-full flex items-center justify-center">
  <div class="w-3/4 h-3/4 rounded-xl bg-orange-50/90 flex flex-col">
    <app-nav-bar></app-nav-bar>
    <div class="grow">
      <div class="w-1/2 h-full flex items-center justify-center flex flex-col">
        <div class="w-96 mb-8 text-amber-900 text-7xl font-bold">
          Biblioteca
          <span class="block">Online</span>
        </div>
        <mat-form-field class="w-96">
          <input type="text"
                 placeholder="Cauta-ti cartea sau autorul favorit..."
                 matInput
                 [(ngModel)]="searchText"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="!searchText; else diplayMatOptions">Cauta-ti cartea sau autorul favorit...</mat-option>
            <ng-template #diplayMatOptions>
              <mat-option (click)="getBookDetails(option.id)" *ngFor="let option of books | filter: searchText" [value]="option">
                {{option.name}} - {{option.authors[0]}} ...
              </mat-option>
              <mat-option *ngIf="(books | filter: searchText).length === 0">
                Niciun rezultat
              </mat-option>
            </ng-template>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
