<mat-toolbar class="rounded-t-xl flex justify-between bg-orange-50">
  <div class="flex">
    <div
      (click)="onHomePage()"
      class="bg-emerald-900 text-white text-base font-normal  p-2 rounded-xl mr-2 cursor-pointer"
    >Acasa
    </div>
    <div
      (click)="onExploreLibrary()"
      class="bg-emerald-900 text-white text-base font-normal  p-2 rounded-xl mr-2 cursor-pointer"
    >Exploareza biblioteca
    </div>
    <div
      class="bg-emerald-900 text-white text-base font-normal  p-2 rounded-xl mr-2 cursor-pointer"
      (click)="onFAQ()">Intrebari frecvente
    </div>
    <div
      class="bg-emerald-900 text-white text-base font-normal  p-2 rounded-xl mr-2 cursor-pointer"
    (click)="onContactUs()">Contacteaza-ne
    </div>
    <div
      *ngIf="isAdmin"
      class="bg-emerald-600 text-white text-base font-normal  p-2 rounded-xl mr-2 cursor-pointer"
      (click)="onAddBook()">Admin: Adauga carte
    </div>
    <div
      *ngIf="isAdmin"
      class="bg-emerald-600 text-white text-base font-normal  p-2 rounded-xl mr-2 cursor-pointer"
      (click)="onDeleteBook()">Admin: Sterge carte
    </div>
  </div>
  <div class="flex items-center">
  <div (click)="logout()"
       class="bg-emerald-900 text-white text-base font-normal  p-2 rounded-xl mr-2 cursor-pointer"> Logout</div>
  </div>
</mat-toolbar>
