<div>
  <div class="w-full flex justify-end">
    <mat-icon class="cursor-pointer" aria-hidden="false" (click)="onCloseDialog()">close</mat-icon>
  </div>
  <div class="w-full flex flex-col items-center mt-4">
    <div class="text-2xl font-medium">Formular de imprumut</div>
    <div *ngIf="!isSubmitted" class="w-full">
      <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
        <mat-form-field class="w-full mt-4 pill inside-label">
          <label>
            <input
              placeholder="Nume"
              autocomplete="off"
              formControlName="firstName"
              matInput
              maxlength="64"
            />
          </label>
        </mat-form-field>
        <mat-form-field class="w-full pill inside-label">
          <label>
            <input
              placeholder="Prenume"
              autocomplete="off"
              formControlName="lastName"
              matInput
              maxlength="64"
            />
          </label>
        </mat-form-field>
        <mat-form-field class="w-full pill inside-label">
          <label>
            <input
              placeholder="Anul"
              autocomplete="off"
              formControlName="year"
              matInput
              maxlength="64"
            />
          </label>
        </mat-form-field>
        <mat-form-field class="w-full pill inside-label">
          <label>
            <input
              placeholder="Grupa"
              autocomplete="off"
              formControlName="group"
              matInput
              maxlength="64"
            />
          </label>
        </mat-form-field>
        <mat-form-field class="w-full pill inside-label">
          <label>
            <input
              type="number"
              placeholder="Numar de zile"
              autocomplete="off"
              formControlName="numberOfDays"
              matInput
              maxlength="64"
            />
          </label>
          <mat-error class="error text-red-600" *ngIf="formGroup.controls.numberOfDays.errors?.required">Acest camp este obligatoriu.</mat-error>
          <mat-error class="error text-red-600" *ngIf="formGroup.controls.numberOfDays.errors?.max">Poti imprumuta cartea pentru maxim 21 de zile.</mat-error>
          <mat-error class="error text-red-600" *ngIf="formGroup.controls.numberOfDays.errors?.min">Trebuie sa imprumuti cartea pentru cel putin o zi.</mat-error>
        </mat-form-field>
        <div class="w-full flex justify-center mt-8">
          <button class="bg-emerald-900 text-white" mat-raised-button type="submit">Salveaza</button>
        </div>
      </form>
    </div>
    <div class="w-full justify-center p-4" *ngIf="isSubmitted">
      <div class="text-center p-4 text-emerald-900 text-xl font-medium">Imprumutul tau a fost realizat cu succes!</div>
      <div class="text-center">Poti sa iti ridici cartea cu acest cod: <span class="text-emerald-900 text-lg font-semibold">{{this.generatedCode}}</span> </div>
    </div>
  </div>
</div>
